<footer class="footer mt-auto py-3 bg-primary"> 
  <div class="container"> 
    <span class="text-muted">Rodapé do projeto.</span> 
    <hr>
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Luislima07/Rotas-e-navbar---Nodejs" target="_blank" role="button"><i class="bi bi-github"></i></a>
  </div> 
 </footer> 