  <footer class="bg-danger bg-gradient text-white" style="width: 100%;bottom: 0;left: 0;position: fixed;padding: 1px;"> 
    <div class="container"> 
      <img src="/assets/etecitu.png" class="img-thumbnail bg-danger" style="height: 100px; width: auto; border: none;" alt="etec">
      <hr class="bg-light">
      <button type="button" class="btn btn-outline-light" id="btnMapa" onclick="btnMapa" >Clique aqui par obter o Mapa</button>
      <iframe id="iframeMapa" style="display: none;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1293.051593587548!2d-47.29096825810223!3d-23.28791156976091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf5ab2d35d2b0d%3A0x90131a5f0c2272b3!2sEscola%20T%C3%A9cnica%20Estadual%20Martinho%20di%20Ciero%20-%20Itu!5e0!3m2!1spt-BR!2sbr!4v1756228625596!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Luislima07/atvidade-epa-node" target="_blank" role="button"><i class="bi bi-github"></i></a>
    </div> 
   </footer> 
  