<div class="container">
    <h5>A Etec de Portas Abertas (EPA) é um evento realizado anualmente pelas Escolas Técnicas Estaduais, no qual os alunos têm a oportunidade de apresentar ao público os projetos desenvolvidos ao longo dos cursos. Durante o EPA, 
        a comunidade pode conhecer de perto as diferentes áreas de formação oferecidas pela Etec, explorar trabalhos práticos, participar de atividades interativas e compreender como o conhecimento adquirido em sala de aula se transforma em inovação e soluções criativas.
        Mais do que uma mostra de projetos, o evento é um espaço de integração entre estudantes, professores e visitantes, incentivando a troca de experiências, a valorização da educação técnica e o despertar de novos interesses profissionais.
    </h5>
</div>