<h3>Adicionar Usuário</h3>
<form action="/usuarios/add" method="post">
    <div class="form-group">
        <label for="nome">Usuário</label>
        <input type="text" class="form-control" id="usuarios" name="usuarios" placeholder="Informe o usuário" required>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>