<h3>Editar Usuário</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Usuário</label>
        <input type="text" class="form-control" id="usuarios" name="usuarios" placeholder="Informe o Usuário" required>
        <button type="submit" class="btn btn-sucess">Editar</button>
    </div>
</form>