<h3>Editar Categoria</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" class="form-control" id="categorias" name="categorias" placeholder="Informe a categoria" required>
        <button type="submit" class="btn btn-sucess">Editar</button>
    </div>
</form>