<h1>Sistemas Embarcados</h1>
<hr>
<div class="card text-bg-dark" style="display: flex;">
    <iframe class="card img" width="560" height="315" src="https://www.youtube.com/embed/LwZ35wZJreU?si=2f4YetsE4j1ShfRa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<br><br>
    <div class="">
        <p>A disciplina de <b>Sistemas Embarcados</b> no curso de <b>Análise e Desenvolvimento de Sistemas (ADS)</b> tem como objetivo introduzir os estudantes ao universo dos dispositivos computacionais dedicados, ou seja, sistemas que são projetados para realizar tarefas específicas dentro de um equipamento maior.
        Diferente dos computadores tradicionais, que são projetados para múltiplas finalidades, os sistemas embarcados são otimizados para aplicações específicas e geralmente possuem restrições de recursos, como memória limitada, baixo consumo de energia e necessidade de alta confiabilidade.
        </p>
        <br><br>
        <img src="/assets/Arduino.png" alt="">
        <br><br>
        <p>A imagem acima é de uma placa arduino, sendo o item mais utilizado pelos alunos durante as aulas de Sistemas Embarcados</p>

    </div>
    
