<h3>Adicionar Curso</h3>
<form action="/cursos/add" method="post">
    <div class="form-group">
        <label for="nome">Cursos</label>
        <input type="text" class="form-control" id="cursos" name="cursos" placeholder="Informe o curso" required>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>