<h3>Editar Curso</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Cursos</label>
        <input type="text" class="form-control" id="cursos" name="cursos" placeholder="Informe o Curso" required>
        <button type="submit" class="btn btn-sucess">Editar</button>
    </div>
</form>