<h1>Progrmação Web</h1>
<h5>Programação web é o desenvolvimento de aplicações e sites que funcionam na internet, utilizando tecnologias como HTML, CSS, JavaScript e frameworks diversos. Ela permite criar interfaces interativas, sistemas dinâmicos e soluções que conectam usuários e serviços online.</h5>
<hr>
<h4>
    <p>Projetos desenvolvidos pelos alunos do curso de Programação Web da Etec Martinho Di Ciero.</p>
</h4>
<hr>
<p style="font-size: 1.5rem;">
    Abaixo estão alguns exemplos de projetos desenvolvidos pelos alunos do curso de Programação Web da Etec Martinho Di Ciero. 
    Esses projetos demonstram a aplicação prática dos conhecimentos adquiridos durante o curso, incluindo design responsivo, 
    interatividade e usabilidade. Cada projeto reflete a criatividade e habilidades técnicas dos alunos, 
    destacando suas capacidades em desenvolver soluções web eficazes e atraentes.
</p>

<div class="media p-2 d-flex align-items-center gap-3">
    <video width="640" height="360" controls>
        <source src="/assets/video.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>
    <p class="mt-3 mb-2 p-3 bg-light rounded shadow-sm" style="font-size: 1.5rem; width: 100%;">
        O vídeo ao lado apresenta uma landing page, destacando os principais recursos e funcionalidades do site. Ele demonstra como a interface é intuitiva, atraente e voltada para engajar visitantes, mostrando exemplos de navegação, chamadas para ação e elementos visuais que ajudam a converter acessos em resultados.
    </p>
</div>
