<h3>Adicionar Alunos</h3>
<form action="/alunos/add" method="post">
    <div class="form-group">
        <label for="nome">Aluno</label>
        <input type="text" class="form-control" id="alunos" name="aluno" placeholder="Informe o aluno" required>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>