<h3>Editar Aluno</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Aluno</label>
        <input type="text" class="form-control" id="alunos" name="alunos" placeholder="Informe o Aluno" required>
        <button type="submit" class="btn btn-sucess">Editar</button>
    </div>
</form>